body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #0d0d0d;
  --secondary: #ffffff;
  --tertiary: rgba(217, 217, 217, 0.75);
}

.container {
  background-color: var(--primary);
  color: var(--secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  width: 75%;
  margin: 0 auto;
}

header {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

main {
  flex: 1;
}

footer {
  padding: 8px;
}

.add-btn {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 0.8rem;
  padding: 16px;
  min-width: 180px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background-color: var(--tertiary);
  }
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.card {
  border: 1px solid var(--tertiary);
  cursor: pointer;
  padding: 24px;

  .card-title {
    font-size: 1.2rem;
    margin: 0;
  }

  .card-author {
    font-size: 0.8rem;
    color: var(--tertiary);
    display: block;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;

    button {
      border: none;
      outline: none;
      cursor: pointer;
      background: transparent;
      color: var(--secondary);
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0;
    }
  }

  &:hover {
    border-color: var(--secondary);
  }
}
